<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnsafeEventsAPI</title>
</head>
<body>

    <br><br>
        <% if (locals.dbConnectionError) { %>
            <hr>
                <p id="dbConnection"><%= locals.dbConnectionError %> </p>
            <hr>
        <% } %>
        <% if (locals.ensafeEventsSavedSuccessfully) { %>
            <hr>
                <p id="savedSuccessfully"><%= locals.ensafeEventsSavedSuccessfully %> </p>
            <hr>
        <% } %>
        <% if (locals.ensafeEventsCouldntSave) { %>
            <hr>
                <p id="couldntSave"><%= locals.ensafeEventsCouldntSave %> </p>
            <hr>
        <% } %>
    <br><br>
    <hr>
    <form action="/enerjisaapi/ensafeevents" method="post">
        <div>
            <textarea name="ensafeeventsapi" id="ensafeeventsapi" cols="150" rows="10"></textarea>
        </div>
        <br>
        <hr>
        <div>
            <input type="submit" name="submit" id="submit" value ="ENSAFE EVENTS"></input>
        </div>
        <br>
        <hr>
    </form>
    <br><br>

</body>
</html>