<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TedSuitAPI</title>
</head>
<body>
    <br><br>
        <% if (locals.dbConnectionError) { %>
            <hr>
                <p id="dbConnection"><%= locals.dbConnectionError %> </p>
            <hr>
        <% } %>
        <% if (locals.tedsuitSavedSuccessfully) { %>
            <hr>
                <p id="savedSuccessfully"><%= locals.tedsuitSavedSuccessfully %> </p>
            <hr>
        <% } %>
        <% if (locals.tedsuitCouldntSave) { %>
            <hr>
                <p id="couldntSave"><%= locals.tedsuitCouldntSave %> </p>
            <hr>
        <% } %>
    <br><br>
    <hr>
    <form action="/enerjisaapi/tedsuit" method="post">
        <div>
            <textarea name="tedsuitapi" id="tedsuitapi" cols="150" rows="10"></textarea>
        </div>
        <br>
        <hr>
        <div>
            <input type="submit" name="submit" id="submit" value ="TED SUIT"></input>
        </div>
        <br>
        <hr>
    </form>
    <br><br>

</body>
</html>