<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Enerjisa Home</title>
</head>
<body>
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="my-main-container">
        <div class="container-operation-centers">
            <% operationNames.forEach(operation => { %>
                <div class="om-section">
                    <a href="/enerjisa/om/<%= operation._id %>"><%= operation._id%></a>
                </div>
            <% }) %>
        </div>
        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="container-reports">
            Kritik Raporlar
        </div>
        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <!-- <div class="container-others bg-warning m-2 p-2 d-flex justify-content-center align-items-center"></div> -->
        
    </div>
    
</body>
</html>