<div class="icon-auditform" data-auditform-workerid="<%= data.VAR_SICIL.trim()%>" data-auditform-name="<%= data.VAR_ADI_SOYAD.split(" _")[0].trim()%>">
    <div class="audit-forms">
        <div class="audit-form-div manager">
            <a href="../../html/form-manager.html" target="_blank">
                <img class="audit-form-img" src="../../svg/form-manager.svg">
            </a>
        </div>
        <div class="audit-form-div engineer">
            <a href="../../html/form-engineer.html" target="_blank">
                <img class="audit-form-img" src="../../svg/form-engineer.svg">
            </a>
        </div>
        <div class="audit-form-div hse-engineer">
            <a href="../../html/form-hse-engineer.html" target="_blank">
                <img class="audit-form-img" src="../../svg/form-hse-engineer.svg">
            </a>    
        </div>
    </div> 

</div>